#body {
    position: relative;
}


#body > p {
    line-height: 1.5em;
    width: 640px;
    text-rendering: optimizeLegibility;
}

#charts {
    padding: 10px 0;
    position: absolute;
}

.chart {
    display: inline-block;
    height: 0;
    padding-left:36px;
    z-index:1;
}

.reset {
    padding-left: 1em;
    font-size: smaller;
    color: #ccc;
}

.background.bar {
    fill: #ccc;
}

.foreground.bar {
    fill: green;
}

.axis path, .axis line {
    fill: none;
    stroke: yellow;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
    color:green;
}

.brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

#frequency-chart {
    width: 9%;
    color:orange;
    margin-left:0px;
    font-weight:bold;

}

#bandwidth-chart {
    width: 9%;
    color: #ffd752;
    margin-left:60px;
    font-weight:bold;
}

#amplitude-chart {
    width: 5%;
    margin-left:100px;
    color:blue;
    font-weight:bold;

}

#tlw-chart {
    width: 8%;
    color: red;
    font-weight:bold;
}



#date-chart {
    width: 920px;
    color:white;
}
#frequency-chart > div > a.toggleColor {
    color: orange;
}
#tlw-chart > div > a.toggleColor {
    color: red;
}
#bandwidth-chart > div > a.toggleColor {
    color: green;
}
#signal-list {
    min-height: 512px;
    width:25%;
    color: green;
    position:absolute;
    top:169px;
    margin: 0;
    z-index:1;
}

#signal-list .signal {
    background: black;
    margin-bottom: 1px;
}

#signal-list .label {
    background: black;
    margin-bottom: 5px;
    color: yellow;
    white-space:pre;
    font-size:14px;

}

#signal-list .time {
    color: #999;
    width:70px;
}

#signal-list .signal div {
    display: inline-block;
    width: 89px;
}

#signal-list  .signal div.FREQUENCY {
    width:75px;
    margin-left:35px;
}

#signal-list  .signal div.TCODE {
    width:25px;
}

#signal-list  .signal div.DEVICECOUNT {
    width:15px;
    margin-right:25px;
}

#signal-list  .signal div.TXID {
    width:130px;
    margin-right:10px;
}
#signal-list  .signal div.TLW {
    width:35px;
    margin-right:10px;
}

#signal-list  .signal div.AMPLITUDE {
    width:67px;
}
#signal-list  .signal div.BANDWIDTH {
    width:60px;
}

aside {
    position: absolute;
    left: 500px;
    font-size: smaller;
    width: 220px;
    color:white;
}
#ThreeJS
{
    z-index: 1;
    position: static;
    padding:0;
}